<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/stylesheet2.css">
    <script src="static/jquery-3_1_1.js"></script>
    <script src="static/jquery.simpleWeather.js"></script>
    <script src="static/weather.js"></script>
    <script src="static/stock.js"></script>
	<script src="static/calendar.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="weather"></div>
	
    <div id="stocks">
		<p>Stocks
		<table id="price"></table>
		</p>
	</div>

	<div id="calendar">
		<div id="authorize-div">
			<span>Authorize access to Google Calendar API</span>
			<!--Button for the user to click to initiate auth sequence -->
			<button id="authorize-button" onclick="handleAuthClick(event)">
				Authorize
			</button>
		</div>
	</div>
	
</body>
</html>
